# 0.0

## 0.1 Imports

In [14]:
import pandas as pd
import numpy as np

from sklearn import metrics as mt
from sklearn import tree as tr
from sklearn import ensemble as en
from sklearn import linear_model as lm
from sklearn import preprocessing as pp

## 0.2 Load dataset

In [15]:
X_train = pd.read_csv('X_training.csv')
print(X_train.shape)
X_train.head()

(10547, 13)

,song_duration_ms,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,audio_mode,speechiness,tempo,time_signature,audio_valence
0,0.205673,0.092100,0.720,0.802,0.000000,0.090909,0.694,0.431778,1,0.0582,0.103876,0.8,0.723
1,-0.240409,0.737000,0.483,0.412,0.000000,0.636364,0.116,-0.262732,1,0.0402,1.711532,0.6,0.247
2,-0.125770,0.274000,0.671,0.565,0.000065,1.000000,0.370,0.013612,0,0.1600,1.009176,0.8,0.561
3,-0.580967,0.002340,0.704,0.529,0.874000,1.000000,0.370,-0.266382,0,0.0416,0.666173,0.8,0.507
4,-0.688566,0.000414,0.354,0.910,0.205000,0.090909,0.456,0.422914,1,0.0430,1.182630,0.8,0.362

In [16]:
y_train = pd.read_csv('y_training.csv')
print(y_train.shape)
y_train.head()

(10547, 1)

   song_popularity
0             79.0
1             86.0
2             63.0
3             25.0
4             35.0

In [17]:
# validação
X_val = pd.read_csv('X_validation.csv')
print(X_val.shape)
X_val.head()

(4521, 13)

,song_duration_ms,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,audio_mode,speechiness,tempo,time_signature,audio_valence
0,0.143252,0.025900,0.616,0.933,0.00000,0.000000,0.3590,0.962307,0,0.0513,0.309853,0.8,0.806
1,0.363603,0.000188,0.490,0.972,0.02990,0.909091,0.3680,0.765216,0,0.1110,-0.908089,0.8,0.376
2,-1.409083,0.694000,0.876,0.167,0.91200,1.000000,0.3690,-1.733352,1,0.0885,-0.975052,0.8,0.845
3,0.270931,0.003750,0.770,0.801,0.00281,0.818182,0.0515,0.852812,0,0.0336,0.338018,0.8,0.725
4,0.367789,0.011600,0.596,0.869,0.17300,0.909091,0.0678,-1.177535,1,0.0370,-0.389052,0.8,0.944

In [18]:
y_val = pd.read_csv('y_val.csv')
print(y_val.shape)
y_val.head()

(4521, 1)

   song_popularity
0             60.0
1             48.0
2             43.0
3             59.0
4             79.0

In [19]:
# Teste
X_test = pd.read_csv('X_test.csv')
print(X_test.shape)
X_test.head()

(3767, 13)

,song_duration_ms,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,audio_mode,speechiness,tempo,time_signature,audio_valence
0,-1.662539,0.073,0.754,0.342,0.000000,0.909091,0.1930,-0.319043,0,0.0991,0.276006,0.8,0.423
1,-0.054995,0.191,0.687,0.792,0.000000,0.454545,0.1670,1.226398,1,0.0452,-0.733694,0.8,0.671
2,0.564739,0.318,0.630,0.478,0.000065,1.000000,0.0942,-0.817506,1,0.0275,-0.995967,0.8,0.279
3,0.094512,0.011,0.363,0.824,0.000000,0.363636,0.1050,1.078580,1,0.0405,-0.083765,0.8,0.164
4,-0.018639,0.334,0.334,0.617,0.000000,0.545455,0.1630,0.422132,0,0.3830,-1.249176,0.8,0.603

In [20]:
y_test = pd.read_csv('y_test.csv')
print(y_test.shape)
y_test.head()

(3767, 1)

   song_popularity
0             87.0
1            100.0
2             37.0
3              0.1
4             78.0

# 1.0 Decision Tree Regressor

## 1.1 Treino

In [12]:
depth = np.arange(10, 21, 1)
metricas = []
for d in depth:
    model = tr.DecisionTreeRegressor(max_depth = d).fit(X_train, y_train)
    yhat = model.predict(X_train)
    #metricas
    r2 = round(mt.r2_score(y_train, yhat),3)
    mse = round(mt.mean_squared_error(y_train, yhat),3)
    rmse = round(np.sqrt(mse),3)
    mae = round(mt.mean_absolute_error(y_train, yhat),3)
    mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)

    m_value= {'max_depth': d, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
    metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

    max_depth     R2      MSE    RMSE     MAE   MAPE
10         20  0.928   34.594   5.882   2.133  0.356
9          19  0.904   45.849   6.771   2.776  0.530
8          18  0.873   60.711   7.792   3.514  0.887
7          17  0.836   78.300   8.849   4.403  1.131
6          16  0.789  100.809  10.040   5.446  1.538
5          15  0.738  125.095  11.185   6.604  2.050
4          14  0.678  153.902  12.406   7.864  2.434
3          13  0.608  187.268  13.685   9.171  2.928
2          12  0.537  221.191  14.872  10.471  3.443
1          11  0.460  258.193  16.068  11.749  4.170
0          10  0.385  294.157  17.151  12.925  4.871

## 1.2 dados de validação

In [14]:
depth = np.arange(1, 11, 1)
metricas = []
for d in depth:
    model = tr.DecisionTreeRegressor(max_depth = d).fit(X_train, y_train)
    yhat = model.predict(X_val)
    #metricas
    r2 = round(mt.r2_score(y_val, yhat),3)
    mse = round(mt.mean_squared_error(y_val, yhat),3)
    rmse = round(np.sqrt(mse),3)
    mae = round(mt.mean_absolute_error(y_val, yhat),3)
    mape = round(mt.mean_absolute_percentage_error(y_val, yhat),3)

    m_value= {'max_depth': d, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
    metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

   max_depth     R2      MSE    RMSE     MAE   MAPE
4          5  0.064  447.161  21.146  16.843  8.396
5          6  0.063  447.287  21.149  16.748  8.324
3          4  0.062  447.826  21.162  16.849  8.536
6          7  0.057  450.351  21.221  16.736  7.998
2          3  0.055  451.338  21.245  16.897  8.470
1          2  0.038  459.553  21.437  16.985  8.480
7          8  0.036  460.350  21.456  16.889  7.950
0          1  0.026  465.224  21.569  17.122  8.550
8          9  0.020  467.793  21.629  16.885  7.844
9         10 -0.000  477.715  21.857  16.870  7.901

## 1.3 Dados de teste

In [19]:
d=5
metricas = []


model = tr.DecisionTreeRegressor(max_depth = d)
model.fit(pd.concat([X_train, X_val]), pd.concat([y_train, y_val]))
yhat = model.predict(X_test)
#metricas
r2 = round(mt.r2_score(y_test, yhat),3)
mse = round(mt.mean_squared_error(y_test, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_test, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_test, yhat),3)

m_value= {'max_depth': d, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

   max_depth    R2      MSE    RMSE    MAE   MAPE
0          5  0.09  442.848  21.044  16.83  7.883

In [18]:
pd.concat([X_train, X_val]).shape

(15068, 13)

# 2.0 Polinomial Regression

## 2.1 Dados de treino

In [8]:
degrees = np.arange(2, 5, 1)
metricas = []

for d in degrees:
    poly= pp.PolynomialFeatures(degree=d)
    X_poly= poly.fit_transform(X_train)
    model = lm.LinearRegression(n_jobs=-1).fit(X_poly, y_train)
    yhat = model.predict(X_poly)
    #metricas
    r2 = round(mt.r2_score(y_train, yhat),3)
    mse = round(mt.mean_squared_error(y_train, yhat),3)
    rmse = round(np.sqrt(mse),3)
    mae = round(mt.mean_absolute_error(y_train, yhat),3)
    mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)

    m_value= {'degrees': d, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
    metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

   degrees     R2      MSE    RMSE     MAE   MAPE
2        4  0.334  318.377  17.843  13.614  5.913
1        3  0.154  404.199  20.105  15.884  7.800
0        2  0.094  432.986  20.808  16.458  8.351

# 3.0 Polinomial Regression Lasso
Feito no colabs

In [ ]:
## 3.1 Dados de treino

degrees = [2, 3, 4]
alpha= [0.2, 0.5, 0.8]
iter= [500, 1000, 1500]
metricas = []

for d in degrees:
    for a in alpha:
        for i in iter:
            poly= pp.PolynomialFeatures(degree=d)
            X_poly= poly.fit_transform(X_train)
            #model = lm.LinearRegression(n_jobs=-1).fit(X_poly, y_train)
            model = lm.Lasso(alpha= a, max_iter= i).fit(X_poly, y_train)
            yhat = model.predict(X_poly)
            #metricas
            r2 = round(mt.r2_score(y_train, yhat),3)
            mse = round(mt.mean_squared_error(y_train, yhat),3)
            rmse = round(np.sqrt(mse),3)
            mae = round(mt.mean_absolute_error(y_train, yhat),3)
            mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)

            m_value= {'degrees': d, 'alpha': a, 'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
            metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

In [ ]:
## 3.2 Dados de validação

degrees = [2, 3, 4]
alpha= [0.2, 0.5, 0.8]
iter= [900, 1000, 1500]
metricas = []

for d in degrees:
    for a in alpha:
        for i in iter:
            poly= pp.PolynomialFeatures(degree=d)
            X_train_poly= poly.fit_transform(X_train)

            model = lm.Lasso(alpha= a, max_iter= i).fit(X_train_poly, y_train)
            X_val_poly= poly.fit_transform(X_val)
            yhat = model.predict(X_val_poly)
            #metricas
            r2 = round(mt.r2_score(y_val, yhat),3)
            mse = round(mt.mean_squared_error(y_val, yhat),3)
            rmse = round(np.sqrt(mse),3)
            mae = round(mt.mean_absolute_error(y_val, yhat),3)
            mape = round(mt.mean_absolute_percentage_error(y_val, yhat),3)

            m_value= {'degrees': d, 'alpha': a, 'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
            metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

In [ ]:
## 3.3 Polinomia Regression Lasso Teste

d = 3
a = 0.2
i = 1000
metricas = []

poly= pp.PolynomialFeatures(degree=d)
X_train_poly= poly.fit_transform(pd.concat([X_train, X_val]))

model = lm.Lasso(alpha= a, max_iter= i).fit(X_train_poly, pd.concat([y_train, y_val]))
X_test_poly= poly.fit_transform(X_test)

yhat = model.predict(X_test_poly)
#metricas
r2 = round(mt.r2_score(y_test, yhat),3)
mse = round(mt.mean_squared_error(y_test, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_test, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_test, yhat),3)

m_value= {'degrees': d, 'alpha': a, 'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

# 4.0 Polinomial Regression Ridge
Feito no colabs

In [ ]:
## 4.1 Dados de treino

degrees = [2, 3, 4, 5]
alpha= [0.2, 0.5, 0.8]
iter= [900, 1000, 1500]
metricas = []

for d in degrees:
    for a in alpha:
        for i in iter:
            poly= pp.PolynomialFeatures(degree=d)
            X_poly= poly.fit_transform(X_train)

            model = lm.Ridge(alpha= a, max_iter= i).fit(X_poly, y_train)
            yhat = model.predict(X_poly)
            #metricas
            r2 = round(mt.r2_score(y_train, yhat),3)
            mse = round(mt.mean_squared_error(y_train, yhat),3)
            rmse = round(np.sqrt(mse),3)
            mae = round(mt.mean_absolute_error(y_train, yhat),3)
            mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)

            m_value= {'degrees': d, 'alpha': a, 'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
            metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

In [ ]:
## 4.2 dados de validação

degrees = [2, 3, 4, 5]
alpha= [0.2, 0.5, 0.8]
iter= [900, 1000, 1500]
metricas = []

for d in degrees:
    for a in alpha:
        for i in iter:
            poly= pp.PolynomialFeatures(degree=d)
            X_poly= poly.fit_transform(X_train)

            model = lm.Ridge(alpha= a, max_iter= i).fit(X_poly, y_train)
            X_val_poly= poly.fit_transform(X_val)
            yhat = model.predict(X_val_poly)
            #metricas
            r2 = round(mt.r2_score(y_val, yhat),3)
            mse = round(mt.mean_squared_error(y_val, yhat),3)
            rmse = round(np.sqrt(mse),3)
            mae = round(mt.mean_absolute_error(y_val, yhat),3)
            mape = round(mt.mean_absolute_percentage_error(y_val, yhat),3)

            m_value= {'degrees': d, 'alpha': a, 'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
            metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

In [ ]:
## 4.3 dados de teste

d= 2
a= 0.5
i= 1000
metricas = []


poly= pp.PolynomialFeatures(degree=d)
X_poly= poly.fit_transform(pd.concat([X_train, X_val]))
y_train_val= pd.concat([y_train, y_val])

model = lm.Ridge(alpha= a, max_iter= i).fit(X_poly, y_train_val)
X_test_poly= poly.fit_transform(X_test)
yhat = model.predict(X_test_poly)
#metricas
r2 = round(mt.r2_score(y_test, yhat),3)
mse = round(mt.mean_squared_error(y_test, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_test, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_test, yhat),3)

m_value= {'degrees': d, 'alpha': a, 'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

# 5.0 Polinomial Regression Elastic Net
Feito no colabs

In [ ]:
## 5.1 Dados de treino

degrees = [2, 3, 4]
alpha= [0.5, 0.8]
l1_ratio= [0.2, 0.5, 0.8]
iter= [1800, 2000]
metricas = []

for d in degrees:
    for a in alpha:
        for i in iter:
            for l in l1_ratio:
                poly= pp.PolynomialFeatures(degree=d)
                X_poly= poly.fit_transform(X_train)

                #model = lm.Ridge(alpha= a, max_iter= i).fit(X_poly, y_train)
                model = lm.ElasticNet(alpha= a, l1_ratio= l, max_iter= i).fit(X_poly, y_train)
                yhat = model.predict(X_poly)
                #metricas
                r2 = round(mt.r2_score(y_train, yhat),3)
                mse = round(mt.mean_squared_error(y_train, yhat),3)
                rmse = round(np.sqrt(mse),3)
                mae = round(mt.mean_absolute_error(y_train, yhat),3)
                mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)

                m_value= {'degrees': d, 'alpha': a, 'max_iter': i, 'l1_ratio': l, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
                metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

In [ ]:
## 5.2 Dados de validação

degrees = [2, 3, 4]
alpha= [0.5, 0.8]
l1_ratio= [0.2, 0.5, 0.8]
iter= [1800, 2000]
metricas = []

for d in degrees:
    for a in alpha:
        for i in iter:
            for l in l1_ratio:
                poly= pp.PolynomialFeatures(degree=d)
                X_poly= poly.fit_transform(X_train)

                #model = lm.Ridge(alpha= a, max_iter= i).fit(X_poly, y_train)
                model = lm.ElasticNet(alpha= a, l1_ratio= l, max_iter= i).fit(X_poly, y_train)
                X_val_poly= poly.fit_transform(X_val)
                yhat = model.predict(X_val_poly)
                #metricas
                r2 = round(mt.r2_score(y_val, yhat),3)
                mse = round(mt.mean_squared_error(y_val, yhat),3)
                rmse = round(np.sqrt(mse),3)
                mae = round(mt.mean_absolute_error(y_val, yhat),3)
                mape = round(mt.mean_absolute_percentage_error(y_val, yhat),3)

                m_value= {'degrees': d, 'alpha': a, 'max_iter': i, 'l1_ratio': l, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
                metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

In [ ]:
## 5.3 Dados de teste



d= 3
a= 0.5
i= 1800
l= 0.2
metricas = []

poly= pp.PolynomialFeatures(degree=d)
X_poly= poly.fit_transform(pd.concat([X_train, X_val]))
y_poly= pd.concat([y_train, y_val])
#model = lm.Ridge(alpha= a, max_iter= i).fit(X_poly, y_train)
model = lm.ElasticNet(alpha= a, l1_ratio= l, max_iter= i).fit(X_poly, y_poly)

X_test_poly= poly.fit_transform(X_test)
yhat = model.predict(X_test_poly)

#metricas
r2 = round(mt.r2_score(y_test, yhat),3)
mse = round(mt.mean_squared_error(y_test, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_test, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_test, yhat),3)

m_value= {'degrees': d, 'alpha': a, 'max_iter': i, 'l1_ratio': l, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

# 6.0 Linear Regression Lasso

## 6.1 Treino

In [8]:
alpha = np.arange(0.1, 1, 0.1)
max_iter= [500, 1000, 1500]

metricas = []

for a in alpha:
    for i in max_iter:
        
        
        model = lm.Lasso(alpha= a, max_iter= i).fit(X_train, y_train)
        yhat = model.predict(X_train)
        #metricas
        r2 = round(mt.r2_score(y_train, yhat),3)
        mse = round(mt.mean_squared_error(y_train, yhat),3)
        rmse = round(np.sqrt(mse),3)
        mae = round(mt.mean_absolute_error(y_train, yhat),3)
        mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)
    
        m_value= {'alpha': a,'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
        metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

    alpha  max_iter     R2      MSE    RMSE     MAE   MAPE
0     0.1       500  0.041  458.309  21.408  17.047  8.668
1     0.1      1000  0.041  458.309  21.408  17.047  8.668
2     0.1      1500  0.041  458.309  21.408  17.047  8.668
3     0.2       500  0.032  462.572  21.507  17.116  8.680
4     0.2      1000  0.032  462.572  21.507  17.116  8.680
5     0.2      1500  0.032  462.572  21.507  17.116  8.680
6     0.3       500  0.021  467.909  21.631  17.196  8.696
7     0.3      1000  0.021  467.909  21.631  17.196  8.696
8     0.3      1500  0.021  467.909  21.631  17.196  8.696
9     0.4       500  0.013  471.686  21.718  17.260  8.715
10    0.4      1000  0.013  471.686  21.718  17.260  8.715
11    0.4      1500  0.013  471.686  21.718  17.260  8.715
12    0.5       500  0.010  473.269  21.755  17.289  8.726
13    0.5      1000  0.010  473.269  21.755  17.289  8.726
14    0.5      1500  0.010  473.269  21.755  17.289  8.726
15    0.6       500  0.009  473.521  21.761  17.293  8.730
16    0.6      1000  0.009  473.521  21.761  17.293  8.730
17    0.6      1500  0.009  473.521  21.761  17.293  8.730
18    0.7       500  0.009  473.820  21.767  17.298  8.733
19    0.7      1000  0.009  473.820  21.767  17.298  8.733
20    0.7      1500  0.009  473.820  21.767  17.298  8.733
21    0.8       500  0.008  474.115  21.774  17.302  8.736
22    0.8      1000  0.008  474.115  21.774  17.302  8.736
23    0.8      1500  0.008  474.115  21.774  17.302  8.736
24    0.9       500  0.008  474.285  21.778  17.304  8.736
25    0.9      1000  0.008  474.285  21.778  17.304  8.736
26    0.9      1500  0.008  474.285  21.778  17.304  8.736

## 6.2 Validação

In [9]:
alpha = np.arange(0.1, 1, 0.1)
max_iter= [500, 1000, 1500]

metricas = []

for a in alpha:
    for i in max_iter:
        
        
        model = lm.Lasso(alpha= a, max_iter= i).fit(X_train, y_train)
        yhat = model.predict(X_val)
        #metricas
        r2 = round(mt.r2_score(y_val, yhat),3)
        mse = round(mt.mean_squared_error(y_val, yhat),3)
        rmse = round(np.sqrt(mse),3)
        mae = round(mt.mean_absolute_error(y_val, yhat),3)
        mape = round(mt.mean_absolute_percentage_error(y_val, yhat),3)
    
        m_value= {'alpha': a,'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
        metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

    alpha  max_iter     R2      MSE    RMSE     MAE   MAPE
0     0.1       500  0.037  459.750  21.442  17.047  8.687
1     0.1      1000  0.037  459.750  21.442  17.047  8.687
2     0.1      1500  0.037  459.750  21.442  17.047  8.687
3     0.2       500  0.030  463.385  21.526  17.093  8.677
4     0.2      1000  0.030  463.385  21.526  17.093  8.677
5     0.2      1500  0.030  463.385  21.526  17.093  8.677
6     0.3       500  0.020  468.054  21.635  17.158  8.674
7     0.3      1000  0.020  468.054  21.635  17.158  8.674
8     0.3      1500  0.020  468.054  21.635  17.158  8.674
9     0.4       500  0.013  471.183  21.707  17.213  8.689
10    0.4      1000  0.013  471.183  21.707  17.213  8.689
11    0.4      1500  0.013  471.183  21.707  17.213  8.689
12    0.5       500  0.010  472.563  21.739  17.238  8.703
13    0.5      1000  0.010  472.563  21.739  17.238  8.703
14    0.5      1500  0.010  472.563  21.739  17.238  8.703
15    0.6       500  0.010  472.789  21.744  17.244  8.701
16    0.6      1000  0.010  472.789  21.744  17.244  8.701
17    0.6      1500  0.010  472.789  21.744  17.244  8.701
18    0.7       500  0.009  473.060  21.750  17.250  8.700
19    0.7      1000  0.009  473.060  21.750  17.250  8.700
20    0.7      1500  0.009  473.060  21.750  17.250  8.700
21    0.8       500  0.009  473.339  21.756  17.256  8.699
22    0.8      1000  0.009  473.339  21.756  17.256  8.699
23    0.8      1500  0.009  473.339  21.756  17.256  8.699
24    0.9       500  0.008  473.533  21.761  17.260  8.697
25    0.9      1000  0.008  473.533  21.761  17.260  8.697
26    0.9      1500  0.008  473.533  21.761  17.260  8.697

## 6.3 dados de teste

In [11]:
a= 0.1
i= 1000

metricas = []

 
        
model = lm.Lasso(alpha= a, max_iter= i).fit(pd.concat([X_train, X_val]), pd.concat([y_train, y_val]))
yhat = model.predict(X_test)
#metricas
r2 = round(mt.r2_score(y_test, yhat),3)
mse = round(mt.mean_squared_error(y_test, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_test, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_test, yhat),3)

m_value= {'alpha': a,'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

   alpha  max_iter     R2      MSE    RMSE     MAE   MAPE
0    0.1      1000  0.043  465.984  21.587  17.195  8.603

# 7.0 Linear regresssion Elastic-Net

## 7.1 Dados de treino

In [11]:
alpha = np.arange(0.1, 1, 0.1)
max_iter= [500, 1000, 1500]
l1_ratio = [0.2, 0.5, 0.8]

metricas = []

for a in alpha:
    for i in max_iter:
        for l in l1_ratio:
        
        
            model = lm.ElasticNet(alpha= a, max_iter= i, l1_ratio= l).fit(X_train, y_train)
            yhat = model.predict(X_train)
            #metricas
            r2 = round(mt.r2_score(y_train, yhat),3)
            mse = round(mt.mean_squared_error(y_train, yhat),3)
            rmse = round(np.sqrt(mse),3)
            mae = round(mt.mean_absolute_error(y_train, yhat),3)
            mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)
        
            m_value= {'alpha': a,'max_iter': i, 'l1_ratio': l, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
            metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

    alpha  max_iter  l1_ratio     R2      MSE    RMSE     MAE   MAPE
2     0.1       500       0.8  0.035  461.072  21.473  17.085  8.676
5     0.1      1000       0.8  0.035  461.072  21.473  17.085  8.676
8     0.1      1500       0.8  0.035  461.072  21.473  17.085  8.676
1     0.1       500       0.5  0.030  463.436  21.528  17.124  8.681
4     0.1      1000       0.5  0.030  463.436  21.528  17.124  8.681
..    ...       ...       ...    ...      ...     ...     ...    ...
68    0.8      1000       0.8  0.008  474.011  21.772  17.299  8.733
71    0.8      1500       0.8  0.008  474.011  21.772  17.299  8.733
74    0.9       500       0.8  0.008  474.299  21.778  17.303  8.736
77    0.9      1000       0.8  0.008  474.299  21.778  17.303  8.736
80    0.9      1500       0.8  0.008  474.299  21.778  17.303  8.736

[81 rows x 8 columns]

## 7.2 dados de validação

In [12]:
alpha = np.arange(0.1, 1, 0.1)
max_iter= [500, 1000, 1500]
l1_ratio = [0.2, 0.5, 0.8]

metricas = []

for a in alpha:
    for i in max_iter:
        for l in l1_ratio:
        
        
            model = lm.ElasticNet(alpha= a, max_iter= i, l1_ratio= l).fit(X_train, y_train)
            yhat = model.predict(X_val)
            #metricas
            r2 = round(mt.r2_score(y_val, yhat),3)
            mse = round(mt.mean_squared_error(y_val, yhat),3)
            rmse = round(np.sqrt(mse),3)
            mae = round(mt.mean_absolute_error(y_val, yhat),3)
            mape = round(mt.mean_absolute_percentage_error(y_val, yhat),3)
        
            m_value= {'alpha': a,'max_iter': i, 'l1_ratio': l, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
            metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

    alpha  max_iter  l1_ratio     R2      MSE    RMSE     MAE   MAPE
2     0.1       500       0.8  0.033  461.980  21.494  17.068  8.679
5     0.1      1000       0.8  0.033  461.980  21.494  17.068  8.679
8     0.1      1500       0.8  0.033  461.980  21.494  17.068  8.679
1     0.1       500       0.5  0.028  463.958  21.540  17.098  8.677
4     0.1      1000       0.5  0.028  463.958  21.540  17.098  8.677
..    ...       ...       ...    ...      ...     ...     ...    ...
76    0.9      1000       0.5  0.009  473.356  21.757  17.257  8.694
79    0.9      1500       0.5  0.009  473.356  21.757  17.257  8.694
74    0.9       500       0.8  0.008  473.570  21.762  17.261  8.697
77    0.9      1000       0.8  0.008  473.570  21.762  17.261  8.697
80    0.9      1500       0.8  0.008  473.570  21.762  17.261  8.697

[81 rows x 8 columns]

## 7.3 Dados de teste

In [13]:
a= 0.1
i= 500
l= 0.8

metricas = []


        
        
model = lm.ElasticNet(alpha= a, max_iter= i, l1_ratio= l).fit(pd.concat([X_train, X_val]), pd.concat([y_train, y_val]))
yhat = model.predict(X_val)
#metricas
r2 = round(mt.r2_score(y_val, yhat),3)
mse = round(mt.mean_squared_error(y_val, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_val, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_val, yhat),3)

m_value= {'alpha': a,'max_iter': i, 'l1_ratio': l, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

   alpha  max_iter  l1_ratio     R2      MSE    RMSE     MAE   MAPE
0    0.1       500       0.8  0.033  461.885  21.492  17.071  8.668

# 8.0 Linear Regression ridge

## 8.1 Dados de treino

In [15]:
alpha = np.arange(0.1, 1, 0.1)
max_iter= [500, 1000, 1500]


metricas = []

for a in alpha:
    for i in max_iter:
        
        
        
        model = lm.Ridge(alpha= a, max_iter= i).fit(X_train, y_train)
        yhat = model.predict(X_train)
        #metricas
        r2 = round(mt.r2_score(y_train, yhat),3)
        mse = round(mt.mean_squared_error(y_train, yhat),3)
        rmse = round(np.sqrt(mse),3)
        mae = round(mt.mean_absolute_error(y_train, yhat),3)
        mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)
    
        m_value= {'alpha': a,'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
        metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

    alpha  max_iter     R2      MSE    RMSE     MAE   MAPE
0     0.1       500  0.046  455.996  21.354  16.998  8.653
1     0.1      1000  0.046  455.996  21.354  16.998  8.653
2     0.1      1500  0.046  455.996  21.354  16.998  8.653
3     0.2       500  0.046  455.996  21.354  16.998  8.653
4     0.2      1000  0.046  455.996  21.354  16.998  8.653
5     0.2      1500  0.046  455.996  21.354  16.998  8.653
6     0.3       500  0.046  455.996  21.354  16.998  8.653
7     0.3      1000  0.046  455.996  21.354  16.998  8.653
8     0.3      1500  0.046  455.996  21.354  16.998  8.653
9     0.4       500  0.046  455.996  21.354  16.998  8.653
10    0.4      1000  0.046  455.996  21.354  16.998  8.653
11    0.4      1500  0.046  455.996  21.354  16.998  8.653
12    0.5       500  0.046  455.996  21.354  16.998  8.653
13    0.5      1000  0.046  455.996  21.354  16.998  8.653
14    0.5      1500  0.046  455.996  21.354  16.998  8.653
15    0.6       500  0.046  455.996  21.354  16.998  8.653
16    0.6      1000  0.046  455.996  21.354  16.998  8.653
17    0.6      1500  0.046  455.996  21.354  16.998  8.653
18    0.7       500  0.046  455.996  21.354  16.998  8.653
19    0.7      1000  0.046  455.996  21.354  16.998  8.653
20    0.7      1500  0.046  455.996  21.354  16.998  8.653
21    0.8       500  0.046  455.996  21.354  16.998  8.653
22    0.8      1000  0.046  455.996  21.354  16.998  8.653
23    0.8      1500  0.046  455.996  21.354  16.998  8.653
24    0.9       500  0.046  455.996  21.354  16.998  8.653
25    0.9      1000  0.046  455.996  21.354  16.998  8.653
26    0.9      1500  0.046  455.996  21.354  16.998  8.653

## 8.2 Dados de validação

In [16]:
alpha = np.arange(0.1, 1, 0.1)
max_iter= [500, 1000, 1500]


metricas = []

for a in alpha:
    for i in max_iter:
        
        
        
        model = lm.Ridge(alpha= a, max_iter= i).fit(X_train, y_train)
        yhat = model.predict(X_val)
        #metricas
        r2 = round(mt.r2_score(y_val, yhat),3)
        mse = round(mt.mean_squared_error(y_val, yhat),3)
        rmse = round(np.sqrt(mse),3)
        mae = round(mt.mean_absolute_error(y_val, yhat),3)
        mape = round(mt.mean_absolute_percentage_error(y_val, yhat),3)
    
        m_value= {'alpha': a,'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
        metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

    alpha  max_iter    R2      MSE    RMSE     MAE   MAPE
24    0.9       500  0.04  458.446  21.411  17.039  8.682
25    0.9      1000  0.04  458.446  21.411  17.039  8.682
26    0.9      1500  0.04  458.446  21.411  17.039  8.682
0     0.1       500  0.04  458.447  21.411  17.040  8.683
1     0.1      1000  0.04  458.447  21.411  17.040  8.683
2     0.1      1500  0.04  458.447  21.411  17.040  8.683
3     0.2       500  0.04  458.447  21.411  17.040  8.683
4     0.2      1000  0.04  458.447  21.411  17.040  8.683
5     0.2      1500  0.04  458.447  21.411  17.040  8.683
6     0.3       500  0.04  458.447  21.411  17.040  8.683
7     0.3      1000  0.04  458.447  21.411  17.040  8.683
8     0.3      1500  0.04  458.447  21.411  17.040  8.683
9     0.4       500  0.04  458.446  21.411  17.040  8.682
10    0.4      1000  0.04  458.446  21.411  17.040  8.682
11    0.4      1500  0.04  458.446  21.411  17.040  8.682
12    0.5       500  0.04  458.446  21.411  17.040  8.682
13    0.5      1000  0.04  458.446  21.411  17.040  8.682
14    0.5      1500  0.04  458.446  21.411  17.040  8.682
15    0.6       500  0.04  458.446  21.411  17.040  8.682
16    0.6      1000  0.04  458.446  21.411  17.040  8.682
17    0.6      1500  0.04  458.446  21.411  17.040  8.682
18    0.7       500  0.04  458.446  21.411  17.040  8.682
19    0.7      1000  0.04  458.446  21.411  17.040  8.682
20    0.7      1500  0.04  458.446  21.411  17.040  8.682
21    0.8       500  0.04  458.446  21.411  17.040  8.682
22    0.8      1000  0.04  458.446  21.411  17.040  8.682
23    0.8      1500  0.04  458.446  21.411  17.040  8.682

## Dados de teste

In [17]:
a= 0.9
i=500


metricas = []


        
        
        
model = lm.Ridge(alpha= a, max_iter= i).fit(pd.concat([X_train, X_val]), pd.concat([y_train, y_val]))
yhat = model.predict(X_test)
#metricas
r2 = round(mt.r2_score(y_test, yhat),3)
mse = round(mt.mean_squared_error(y_test, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_test, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_test, yhat),3)

m_value= {'alpha': a,'max_iter': i, 'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

   alpha  max_iter     R2      MSE    RMSE     MAE   MAPE
0    0.9       500  0.051  461.988  21.494  17.144  8.532

# 9.0 Linear Regression

## 9.1 Dados de treino

In [9]:
metricas = []
      
model = lm.LinearRegression().fit(X_train, y_train)
yhat = model.predict(X_train)
#metricas
r2 = round(mt.r2_score(y_train, yhat),3)
mse = round(mt.mean_squared_error(y_train, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_train, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)

m_value= {'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

      R2      MSE    RMSE     MAE   MAPE
0  0.046  455.996  21.354  16.998  8.653

## 9.2 Dados de validação

In [10]:
metricas = []
      
model = lm.LinearRegression().fit(X_train, y_train)
yhat = model.predict(X_val)
#metricas
r2 = round(mt.r2_score(y_val, yhat),3)
mse = round(mt.mean_squared_error(y_val, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_val, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_val, yhat),3)

m_value= {'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

     R2      MSE    RMSE    MAE   MAPE
0  0.04  458.447  21.411  17.04  8.683

## 9.3 Dados de teste

In [11]:
metricas = []
      
model = lm.LinearRegression().fit(pd.concat([X_train, X_val]), pd.concat([y_train, y_val]))
yhat = model.predict(X_test)
#metricas
r2 = round(mt.r2_score(y_test, yhat),3)
mse = round(mt.mean_squared_error(y_test, yhat),3)
rmse = round(np.sqrt(mse),3)
mae = round(mt.mean_absolute_error(y_test, yhat),3)
mape = round(mt.mean_absolute_percentage_error(y_test, yhat),3)

m_value= {'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

      R2      MSE    RMSE     MAE   MAPE
0  0.051  461.988  21.494  17.144  8.531

# 10.0 Random forest regressor

## 10.1 dados de treino

In [22]:
# modificando y
y_train = y_train.values.ravel()
y_val = y_val.values.ravel()
y_test = y_test.values.ravel()

In [23]:
estimators = [80, 90, 100, 110, 120]
depth = [5, 10, 15, 20]

for e in estimators:
    for d in depth:
        
        model = en.RandomForestRegressor(n_estimators= e, max_depth= d).fit(X_train, y_train)
        yhat = model.predict(X_train)
        
        #metricas
        r2 = round(mt.r2_score(y_train, yhat),3)
        mse = round(mt.mean_squared_error(y_train, yhat),3)
        rmse = round(np.sqrt(mse),3)
        mae = round(mt.mean_absolute_error(y_train, yhat),3)
        mape = round(mt.mean_absolute_percentage_error(y_train, yhat),3)
        
        m_value= {'R2': r2, 'MSE': mse, 'RMSE': rmse, 'MAE': mae , 'MAPE': mape}
        metricas.append(m_value)

m = pd.DataFrame(metricas)
m.sort_values(by=['R2', 'MAE'], ascending=[False, True])

       R2      MSE    RMSE     MAE   MAPE
22  0.884   55.340   7.439   5.511  2.748
10  0.884   55.611   7.457   5.521  2.668
14  0.883   55.872   7.475   5.514  2.728
18  0.883   55.892   7.476   5.541  2.728
6   0.881   57.076   7.555   5.556  2.823
21  0.784  103.095  10.154   7.898  3.526
9   0.783  103.873  10.192   7.901  3.477
17  0.782  104.042  10.200   7.913  3.461
5   0.778  105.900  10.291   7.999  3.512
13  0.777  106.426  10.316   8.005  3.565
12  0.470  253.455  15.920  12.645  5.730
4   0.466  255.430  15.982  12.690  5.760
8   0.466  255.103  15.972  12.701  5.721
20  0.465  255.563  15.986  12.702  5.771
2   0.464  256.004  16.000  12.715  5.752
16  0.461  257.749  16.055  12.749  5.713
3   0.142  410.214  20.254  16.107  8.012
19  0.141  410.525  20.261  16.099  8.037
1   0.141  410.380  20.258  16.101  8.031
7   0.141  410.440  20.259  16.103  8.034
15  0.141  410.715  20.266  16.103  8.029
11  0.141  410.567  20.262  16.107  8.024
0   0.051  461.988  21.494  17.144  8.531